<div class="main issue-view">
  <h1>{{model.issue.title}} <span class="issue-number">#{{model.issue.id}}</span></h1>
  <!-- <button class="new-issue">New Issue</button> -->
  <div class="issue-metadata">
    <span class="issue-status open">
      <span class="icon-issue-opened"></span>
      Open
    </span>
    <span>{{model.issue.user.login}} opened this issue {{model.issue.createdAt}} · {{model.issue.commentsCount}} comments</span>
  </div>
  <hr>
  <div class="issue-comment">
    <div class="issue-comment-author">
      <img src="http://www.gravatar.com/avatar/94d093eda664addd6e450d7e9881bcad?s=64&d=identicon&r=PG">
    </div>
    <div class="issue-comment-content">
      <div>
        {{md-text text=model.issue.body linkify=true}}
      </div>
    </div>
  </div>

  {{#each model.issue.comments as |comment|}}
    <div class="issue-comment">
      <div class="issue-comment-author">
        <img src="{{comment.user.avatar_url}}">
      </div>
      <div class="issue-comment-content">
        <div class="issue-comment-attribution">{{comment.user.login}} commented {{moment-from-now comment.createdAt}}</div>
        <div>{{comment.body}}</div>
      </div>
    </div>
  {{/each}}
</div>
